
/* Change backgroud color and unable clik when a menu item is disabled  */
.disabled_cols {
  opacity: 0.3;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.enabled_cols {
  background-color: inherit !important;
  color: inherit !important;
  cursor: inherit !important;
  pointer-events: inherit !important;
  opacity: inherit;
}
