# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# DB
*.basex

# Temporal files
lib/*

# Docs
docs/*

# Attempt files
prova*
 
inst/doc
*.tiff
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.0_test_specify_queries.dat
tests/testthat/testInputs/v_7.0/gcamv7.0_test_specify_queries_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.0_test_specify_queries_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.0_test_specify_queries_standardized.xlsx
debug.R
tests/testthat/testInputs/v_7.0/database_basexdb_CO2price_test_standardized.csv
tests/testthat/testInputs/v_7.0/database_basexdb_CO2price_test_standardized.RData
tests/testthat/testInputs/v_7.0/database_basexdb_CO2price_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/database_basexdb_policy_standardized.csv
tests/testthat/testInputs/v_7.0/database_basexdb_policy_standardized.RData
tests/testthat/testInputs/v_7.0/database_basexdb_policy_standardized.xlsx
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.10.1_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.10.2_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.10.3_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.11.3_test_scenarios.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.11.6_test_scenarios.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.11.7_test_scenarios.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.1_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.2_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.3_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_ref_gcamv7.4_test.dat
tests/testthat/testInputs/v_7.0/database_basexdb_test_scenarios7_standardized.csv
tests/testthat/testInputs/v_7.0/database_basexdb_test_scenarios7_standardized.RData
tests/testthat/testInputs/v_7.0/database_basexdb_test_scenarios7_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.10.1_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.10.1_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.10.1_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.10.2_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.10.2_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.10.2_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.10.3_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.10.3_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.10.3_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.11.3_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.11.3_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.11.3_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.11.6_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.11.6_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.11.6_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.11.7_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.11.7_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.11.7_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.1_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.1_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.1_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.2_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.2_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.2_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.3_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.3_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.3_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/gcamv7.4_test_standardized.csv
tests/testthat/testInputs/v_7.0/gcamv7.4_test_standardized.RData
tests/testthat/testInputs/v_7.0/gcamv7.4_test_standardized.xlsx
tests/testthat/testInputs/v_7.0/test7_standardized.csv
tests/testthat/testInputs/v_7.0/test7_standardized.RData
tests/testthat/testInputs/v_7.0/test7_standardized.xlsx
tests/testthat/testOutputs/v_7.0/test7_output.csv
tests/testthat/testOutputs/v_7.0/test7_output.RData
tests/testthat/testOutputs/v_7.0/test7_output.xlsx
gcamv6.0_test_specify_queries.dat
tests/testthat/testInputs/v_6.0/database_basexdb_policy_standardized.csv
tests/testthat/testInputs/v_6.0/database_basexdb_policy_standardized.RData
tests/testthat/testInputs/v_6.0/database_basexdb_policy_standardized.xlsx
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.0_test_specify_queries.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.10.1_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.10.2_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.10.3_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.11.3_test_scenarios.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.11.6_test_scenarios.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.11.7_test_scenarios.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.1_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.2_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.3_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ref_gcamv6.4_test.dat
tests/testthat/testInputs/v_6.0/database_basexdb_ssps_standardized.csv
tests/testthat/testInputs/v_6.0/database_basexdb_ssps_standardized.RData
tests/testthat/testInputs/v_6.0/database_basexdb_ssps_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.0_test_specify_queries_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.0_test_specify_queries_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.0_test_specify_queries_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.10.1_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.10.1_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.10.1_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.10.2_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.10.2_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.10.2_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.10.3_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.10.3_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.10.3_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.11.3_test_scenarios_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.11.3_test_scenarios_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.11.3_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.11.6_test_scenarios_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.11.6_test_scenarios_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.11.6_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.11.7_test_scenarios_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.11.7_test_scenarios_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.11.7_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.1_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.1_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.1_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.2_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.2_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.2_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.3_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.3_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.3_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/gcamv6.4_test_standardized.csv
tests/testthat/testInputs/v_6.0/gcamv6.4_test_standardized.RData
tests/testthat/testInputs/v_6.0/gcamv6.4_test_standardized.xlsx
tests/testthat/testInputs/v_6.0/test6_standardized.csv
tests/testthat/testInputs/v_6.0/test6_standardized.RData
tests/testthat/testInputs/v_6.0/test6_standardized.xlsx
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv6.1_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv6.2_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv6.3_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.10.1_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.10.2_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.10.3_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.11.3_test_scenarios.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.11.6_test_scenarios.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.11.7_test_scenarios.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.1_test.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.1_test2.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.1_test_specify_queries.dat
tests/testthat/testInputs/v_7.1/database_basexdb_ref_gcamv7.4_test.dat
tests/testthat/testInputs/v_7.1/gcamv7.10.1_test_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.10.1_test_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.10.1_test_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.10.2_test_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.10.2_test_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.10.2_test_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.10.3_test_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.10.3_test_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.10.3_test_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.11.3_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.11.3_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.11.3_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.11.6_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.11.6_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.11.6_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.11.7_test_scenarios_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.11.7_test_scenarios_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.11.7_test_scenarios_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.1_test_specify_queries_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.1_test_specify_queries_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.1_test_specify_queries_standardized.xlsx
tests/testthat/testInputs/v_7.1/gcamv7.4_test_standardized.csv
tests/testthat/testInputs/v_7.1/gcamv7.4_test_standardized.RData
tests/testthat/testInputs/v_7.1/gcamv7.4_test_standardized.xlsx
tests/testthat/testInputs/v_7.1/test7.1_standardized.csv
tests/testthat/testInputs/v_7.1/test7.1_standardized.RData
tests/testthat/testInputs/v_7.1/test7.1_standardized.xlsx
gcamv7.3_test.dat
gcamv7.4_test.dat
