name: test_coverage

on:
  push:
    branches:
      - gcam-v6.0

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GH_GCAMREPORT_TOKEN}}

    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v2-branch
        with:
          r-version: '4.1.0'
      - uses: r-lib/actions/setup-pandoc@v2-branch
      - uses: r-lib/actions/setup-tinytex@v2-branch

      - name: Ubuntu config
        run: |
          sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libharfbuzz-dev libfribidi-dev libssl-dev libxml2-dev libudunits2-dev libgdal-dev libgeos-dev libproj-dev libmagick++-dev libavfilter-dev

      - name: Install dependencies
        run: |
          install.packages(c("remotes","rcmdcheck","covr"), repos = "https://cloud.r-project.org")
          remotes::install_deps(dependencies = TRUE)
          remotes::install_github("JGCRI/rpackageutils")
        shell: Rscript {0}

      - name: Upload coverage reports to Codecov
        # uses: codecov/codecov-action@v3 ### when this line was introduced, the github action directly broke. Without this line, everything worked until the codecov part
        run: |
          covr::codecov(token = "${{secrets.CODECOV_TOKEN}}")
        shell: Rscript {0}
